.playlist{
    /* background-color: rgb(143, 160, 160); */
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--text-color);
}
/* .main-container{
    background-color: rgb(73, 73, 81);
} */
.card{
    border-radius: 10px;
    /* background-color: rgb(214, 222, 222); */
}

.heading{
    color: var(--text-color);
}
.desc{
    color: var(--text-color);
}